<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oomponent</title>
</head>

<body>
    <!-- 如果想在父级中 绑定原生事件给组件 需要加.native 不加就认为是一个普通属性 -->
    <!-- 儿子调用父亲的方法 有三种方式 -->
    <div id="app">
        <!-- this.$on('click',change) -->
        <my-button @click="change" @mouseup='change'></my-button>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
    //props emit $attrs $listeners ($parent $children)
        let vm = new Vue({
            el: '#app',
            data: {
                content: '点我啊'
            },
            methods:{
                change(){
                    alert(1)
                }
            },
            components: {
                'MyButton': {//this.$attrs this.$listeners v-on绑定所有的方法
                    template: `<div>
                        <button @click='$listeners.click()'>点我啊</button>
                        <button @click="$emit('click')">点我啊</button>
                        <button v-on="$listeners">点我啊</button>
                        </div>`
                }
            }
        })
    </script>
</body>

</html>