<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>

<body>
    <div id="app">
        <input type="text" :value="msg" @input="(e)=>{msg=e.target.value}">
        <!-- v-model 是@input + ：value的一个语法糖 -->
        <input type="text" v-model="msg">
        {{msg}}
        <!-- select radio checkbox -->
        <select v-model="selectValue" id="">
            <option value="0" disabled>请选择</option>
            <option v-for="(list,key) in lists">{{list.value}}</option>
        </select>
        {{selectValue}}
        <!-- select -->
        <!-- radio 可以根据v-model来进行分组-->
        男：<input type="text" v-model="radioValue" value="男">
        女：<input type="text" v-model="radioValue" value="女">
        {{radioValue}}
        <!-- 爱好 -->
        <br>
        游泳：<input type="text" v-model="checkValues" value="游泳">
        健身：<input type="text" v-model="checkValues" value="健身">
        {{checkValues}}

        <!-- 修改符 .number数组 .trim空格 -->
        <input type="text" v-model.number.trim="val">{{typeof val}}

        <!-- 修饰符 键盘修饰符 鼠标修饰符 常用的.ctrl .esc .enter-->
        <input type="text" @keyup.esc="fn">
        <input type="text" @keyup.f1="fn">
        <!-- 同时 -->
        <input type="text" @keyup.ctrl.enter="fn">

        <!-- 属性绑定：v-bind： -->
        <div class="abc" :class="{b:true}">
            你好
        </div>
        <div class="abc" :class="['a','b',c]">
            你好
        </div>
        <div style="color:red" :style="{background:'blue'}">xxx</div>
        <div style="color:red" :style="[{background:'red',color:'blue'}]"></div>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
        Vue.config.keyCodes = {//配置一个键盘的别名
            'f1': 112
        }
        let vm = new Vue({
            el: "#app",
            data: {
                c: 'd',
                val: 0,
                msg: 'hello',
                radioValue: '男',
                checkValues: [],
                selectValue: [],
                data: [{ value: '菜单1', id: 1 }, { value: '菜单2', id: 2 }, { value: '菜单3', id: 3 }]
            }
        }).$mount('#app')
        //单元测试

        console.log(vm.$el)
    </script>
</body>

</html>