<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>

<body>
    <div id="app">
        {{fullName}}
        {{getFullName()}}
        {{msg}}
    </div>
    <!-- computed和method的区别 conputed有缓存 method没有缓存 -->
    <!-- computed和watch的区别 watch可以支持异步 -->
    <!-- watch可以实现一些简单的功能 会先去想能不能用计算属性实现 -->
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                firstName: '珠',
                lastName: '峰',
                msg: 'hello',
                fullName: ''
            },
            // computed: {//Object.defineProperty来实现的
            //     getFullName() {//get方法 有缓存 如果没有更改会从缓存中取值
            //         console.log('computed')
            //         return this.firstName + this.lastName
            //     }
            // },
            mounted() {//在不同的阶段会被调用 钩子函数
                this.getFullName()
            },
            methods: {
                getFullName() {
                    this.fullName = this.firstName + this.lastName
                }
            },
            watch: {// vm.$watch('firstname',()=>{})
                // firstName(newValue) {
                //     this.getFullName()
                // },
                firstName: {
                    handler(newValue) {
                        setTimeout(() => {
                            this.getFullName()
                        }, 1000);
                    },
                    immediate: true
                },
                lastName() {
                    this.getFullName()
                }
            },
            // methods: {
            //     getFullName() {
            //         console.log('1212')
            //         return this.firstName + this.lastName
            //     }
            // }
        })

    </script>
</body>

</html>