<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>

<body>
    <div id="app">
        <my-button></my-button>
    </div>

    <!-- 组件化 开发的优点 方便协作 方便维护 复用 数据是根据传入的数据展示 -->
    <!-- 组件的定义方式 共有两种 全局组件 局部组件 -->
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        //全局组件
        // Vue.component('my-button', {
        //     data() {//为了每个组件的数据不互相干扰
        //         return { msg: '123' }
        //     },
        //     template: `<button>{{msg}}</button>`
        // })
        let vm = new Vue({//根实例
            el: '#app',
            components:{
                'MyButton':{
                    data(){
                        return {msg:'点我啊'}
                    },
                    template:`<button>{{msg}}</button>`
                }
            }
        })
    </script>
</body>

</html>