<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!-- 只要模板中使用了数据 必须在实列上声明 -->

<body>
    <div id="app">
        <!-- 取值表达式 可以运算 取值做三元 -->
        {{1+1}}
        {{msg}}
        {{flag?'ok':'no'}}
        {{ {name:1} }}
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            // template: '<h1>hello world</h1>',
            data: {
                msg: 'hello',
            }
        })
    </script>
</body>

</html>