<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oomponent</title>
</head>

<body>
    <div id="app">
        <my-button :a='1' :b='4'></my-button>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                content: '点我啊'
            },
            components: {
                'MyButton': {
                    porps: {
                        msg: {
                            type: String,
                            default: '点我啊'
                        },
                        a: {
                            type: Number
                        },
                        b: {
                            type: Number,
                            validator(value) {//属性校验
                                return value > 3
                            }
                        },
                        arr: {
                            type: Array,
                            default: () => ([1, 2])//属性校验中 如果是数组/对象 需要将默认值返回
                        }
                    },
                    template: `<button>{{msg}}{{a}}{{b}}</button>`
                }
            }
        })
    </script>
</body>

</html>