<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>

<body>
    <div id="app">
        全选
        <input type="checkbox" name="" v-model="checkAll">
        <input type="checkbox" v-for='(item,index) in checks' v-model="item.value" name="" value="">
    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                checks: [{ value: true }, { value: false }, { value: true }]
            },
            computed: {
                checkAll: {
                    get() {
                        return this.checks.every(check => check.value)
                    },
                    set(value) {
                        this.checks.forEach(check => check.value = value);
                    }
                }
            }
        })

    </script>
</body>

</html>